APP SCHEMA 전용 데이터

0. sonapa_sports_data 데이터프레임 불러오기

In [4]:
from supabase import create_client
import pandas as pd

url = "https://ydqqbjjsriadezcnkbmx.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkcXFiampzcmlhZGV6Y25rYm14Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyNDkzMjEsImV4cCI6MjA3MzgyNTMyMX0.U4-v7a40I2HUXJPb2oANFzqwA0QyEErTFEyrgqXdzeA"
supabase = create_client(url, key)

try:
    response = (
        supabase
        .schema("sports_data")
        .table("songpa_sports_data")
        .select("*")
        .execute()
    )
    data_list = response.data

    if data_list:
        merged_df = pd.DataFrame(data_list)
        merged_df.head()

except:
    pass

In [5]:
merged_df.head()

,faci_cd,faci_nm,faci_addr,faci_lat,faci_lot,ftype_nm,inout_gbn_nm
0,05CD128F53FF40BA6CF707D4368F4E39,피오,서울특별시 송파구 송파동 16-1 덕원빌딩,37.507342,127.107690,헬스,실내
1,0FF4792CA7A3F881BC6E33D702AD3E23,아미부트캠프,서울특별시 송파구 송파동 47-9 대우빌딩,37.507946,127.110267,헬스,실내
2,DA9D783E9D2B90F71A7D88801A8DEA46,서세환 짐,서울특별시 송파구 삼전동 176 우진빌딩,37.500729,127.095113,헬스,실내
3,8A25D410CD4E4C4FB813C746175575F4,바디클락,서울 송파구 문정동 620,37.480835,127.121278,헬스,실내
4,3536D34A5AA5C7B68975F1FA844A762F,한국유도원,서울 송파구 방이동 196-14,37.512452,127.122492,유도,실내

1. 운동 장소 데이터 프레임

In [9]:
cols = ["faci_nm", "faci_lat", "faci_lot"]
tmp = merged_df[cols].dropna()

df_faci = tmp.copy()
df_faci.insert(0, "id", range(1, len(tmp) + 1))
df_faci

      id           faci_nm   faci_lat    faci_lot
0      1                피오  37.507342  127.107690
1      2            아미부트캠프  37.507946  127.110267
2      3             서세환 짐  37.500729  127.095113
3      4              바디클락  37.480835  127.121278
4      5             한국유도원  37.512452  127.122492
..   ...               ...        ...         ...
446  447  스트라이크존 서울가락시장역구장  37.495730  127.120518
447  448     스트라이크존 서울잠실구장  37.510297  127.080431
448  449         리얼야구존 신천점  37.510644  127.083888
449  450         와일드피칭 신천점  37.510274  127.082499
450  451              엑스필존  37.494347  127.121413

[451 rows x 4 columns]

2. 운동 종목 데이터 프레임

In [11]:
unique_vals = merged_df["ftype_nm"].dropna().unique()

df_ftype = pd.DataFrame({
    "id": range(1, len(unique_vals) + 1),
    "ftype_nm": unique_vals
})
df_ftype.head()

   id ftype_nm
0   1       헬스
1   2       유도
2   3    간이운동장
3   4      태권도
4   5       축구

데이터베이스 업로드

In [13]:
from supabase import create_client

url = "https://ydqqbjjsriadezcnkbmx.supabase.co"
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlkcXFiampzcmlhZGV6Y25rYm14Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgyNDkzMjEsImV4cCI6MjA3MzgyNTMyMX0.U4-v7a40I2HUXJPb2oANFzqwA0QyEErTFEyrgqXdzeA"
supabase = create_client(url, key)

try:
    supabase.schema("app").table("sports_list").insert(
        df_ftype.to_dict(orient="records")
    ).execute()
except:
    pass

try:
    supabase.schema("app").table("sports_location").insert(
        df_faci.to_dict(orient="records")
    ).execute()
except:
    pass